*{
	padding : 0;
	margin : 0;
}
body{
	width : 100vw;
	height : 100vh;
	background-image : url("bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	width: 3 00px;
	height: 150px;
	background-color: transparent;
	padding : 50px;
	border-radius : 50%;
	margin-top: 150px;
	border: 5px solid #fff;
	color : #fff;
}
button{
	font-size: 20px;
	padding: 10px;
	margin : 5px;
	cursor: pointer;
	background-color : #12AAe3;
	color : #000;
	border-radius : 10px;
	width : 130px;
}

h2 span{
	margin : 10px 5px;

}
h1 span{
	margin : 0 25px;
}